<div class="main">
  <h1>RxJS Error Handling and Debugging</h1>
  <button (click)="fetchData()">Fetch Data</button>

  @if (loading) {
  <div class="lds-ripple">
    <div></div>
    <div></div>
  </div>
  } @if (error) {
  <div class="error-div">
    <span class="error-img">
      <img src="assets/Error.png" alt="" />
    </span>
    <p class="error">{{ error }}</p>
  </div>
  }

  <div *ngIf="courses$ as course" class="courses-wrapper card-div">
    @for (item of course; track $index) {
    <div class="card">
      <img [src]="item.img" [alt]="item.name" />
      <div class="course">
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
      </div>
      <div class="details">
        <p>{{ item.price | currency }}</p>
        <p>{{ item.duration }}</p>
      </div>
      <div class="category">{{ item.category }}</div>
    </div>
    }
  </div>
</div>
